.candidate-container {
	background: white;
	border-radius: 8px;
	box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.1);
	padding: 24px;
	display: flex;
	flex-direction: row;
	gap: 24px;
	align-items: center;
	justify-content: center;
}

.swipe-btn {
	border: none;
	background: lightgray;
	padding: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	font-stretch: expanded;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color .2s;
}

.left-swipe:hover {
	background: darkred;
}

.right-swipe:hover {
	background: seagreen;
}

.swiper-image-wrapper {
	height: 300px;
	width: auto;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 16px;
	border: 14px solid #FFACE4;
}

.swiper-image-wrapper img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}